<html>

<body>
<style>

html, body {
    width: 320px;
}

body {
    background: {{background}};
    color: {{color}};
    font-family: Courier;
    float: left;
    padding: 5px;
    margin: 0;
    font-size: 32px;
}

pre {
    height: 100%;
}
</style>

<pre><code>
{{code}}
</code></pre>

</body>

</html>